@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&display=swap');
* { box-sizing: border-box; }
.showcase-root {
  font-family: 'Inter', sans-serif;
  background-color: #0C1A18;
  color: #EFEABB;
}
